<!--=== Breadcrumbs v4 ===-->
<div class="breadcrumbs-v4">
    <div class="container">
        <span class="page-name">Nuestros Destinos</span>
        <h1>TE INVITAMOS A CONOCER NUESTRO PERÚ</h1>
        <ul class="breadcrumb-v4-in">
            <li><a href="/app/inicio"  >Inicio</a></li>
            <li><a [routerLink]="['/app/pasajero/destino']" >Destinos</a></li>
            <li class="active">{{title}}</li>
        </ul>
    </div>
    <!--/end container-->
</div>
<!--=== End Breadcrumbs v4 ===-->
<div class="container content profile">
    <div class="row">
        <!--Left Sidebar-->
        <div class="col-md-3 filter-by-block md-margin-bottom-60">
            <h1>Destinos</h1>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                        <li class="list-group-item active">
                            <a  [routerLink]="['/app/pasajero/destino', 'Lima']" routerLinkActive="active"><i class="fa fa-chevron-circle-right"></i> 
                                &nbsp;&nbsp; Lima </a>
                        </li>
                        <li class="list-group-item">
                            <a  [routerLink]="['/app/pasajero/destino', 'Chimbote']" routerLinkActive="active" ><i class="fa fa-chevron-circle-right"></i>
                                 &nbsp;&nbsp; Chimbote
                                </a>
                        </li>
                        <li class="list-group-item ">
                            <a [routerLink]="['/app/pasajero/destino', 'Trujillo']" routerLinkActive="active" ><i class="fa fa-chevron-circle-right"></i>
                                 &nbsp;&nbsp; Trujillo
                                </a>
                        </li>
                        <li class="list-group-item ">
                            <a  [routerLink]="['/app/pasajero/destino', 'Pacasmayo']" routerLinkActive="active"><i class="fa fa-chevron-circle-right"></i> 
                                &nbsp;&nbsp; Pacasmayo
                                </a>
                        </li>
                        <li class="list-group-item ">
                            <a  [routerLink]="['/app/pasajero/destino', 'Cajamarca']" routerLinkActive="active" ><i class="fa fa-chevron-circle-right"></i> 
                                &nbsp;&nbsp; Cajamarca
                                </a>
                        </li>
                        <li class="list-group-item ">
                            <a   [routerLink]="['/app/pasajero/destino', 'Cajabamba']" routerLinkActive="active" ><i class="fa fa-chevron-circle-right"></i>
                                 &nbsp;&nbsp; Cajabamba
                                </a>
                        </li>
                        <li class="list-group-item ">
                            <a  [routerLink]="['/app/enconstruccion', 'Chepén']" ><i class="fa fa-chevron-circle-right"></i>
                                 &nbsp;&nbsp; Chepén
                                </a>
                        </li>
                        <li class="list-group-item ">
                            <a  [routerLink]="['/app/enconstruccion', 'Chiclayo']" ><i class="fa fa-chevron-circle-right"></i>
                                 &nbsp;&nbsp; Chiclayo
                                </a>
                        </li>
                        <li class="list-group-item ">
                            <a  [routerLink]="['/app/enconstruccion', 'Paita']" > <i class="fa fa-chevron-circle-right"></i> 
                                &nbsp;&nbsp; Paita</a>
                        </li>
                        <li class="list-group-item ">
                            <a  [routerLink]="['/app/enconstruccion', 'Piura']" ><i class="fa fa-chevron-circle-right"></i> 
                                &nbsp;&nbsp; Piura
                                </a>
                        </li>
                        <li class="list-group-item ">
                            <a  [routerLink]="['/app/enconstruccion', 'Rioja']" ><i class="fa fa-chevron-circle-right"></i> 
                                &nbsp;&nbsp; Rioja
                                </a>
                        </li>
                        <li class="list-group-item ">
                            <a  [routerLink]="['/app/enconstruccion', 'Tarapoto']" ><i class="fa fa-chevron-circle-right"></i> 
                                &nbsp;&nbsp; Tarapoto
                                </a>
                        </li>
                        <li class="list-group-item ">
                            <a  [routerLink]="['/app/enconstruccion', 'Máncora']" ><i class="fa fa-chevron-circle-right"></i> 
                                &nbsp;&nbsp; Máncora
                                </a>
                        </li>
                        <li class="list-group-item ">
                            <a  [routerLink]="['/app/enconstruccion', 'Tumbes']" ><i class="fa fa-chevron-circle-right"></i> 
                                &nbsp;&nbsp; Tumbes
                                </a>
                        </li>
                    </ul>

                </div>
            </div>
            <!--/end panel group-->


        </div>

        <!--End Left Sidebar-->
        <!-- Profile Content -->
        <div class="col-md-6 md-margin-bottom-60">
            <!--Blog Post-->
            <div class="blog margin-bottom-40">
                <h2>{{title}}</h2>
                <!-- About Sldier -->
                <div class="shadow-wrapper margin-bottom-50">
                    <div class="carousel slide carousel-v1 box-shadow shadow-effect-2" id="myCarousel">
                        <ol class="carousel-indicators">
                            <li class="rounded-x active" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li class="rounded-x" data-target="#myCarousel" data-slide-to="1"></li>
                            <li class="rounded-x" data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive" src="assets-trans/img/destinos/1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="assets-trans/img/destinos/2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="assets-trans/img/destinos/3.jpg" alt="">
                            </div>
                        </div>
                        <div class="carousel-arrow">
                            <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a data-slide="next" href="#myCarousel" class="right carousel-control">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End About Sldier -->
                <div class="panel panel-yellow margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-gear"></i> Agencia en Cajabamba</h3>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Direccion</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><i class="fa fa-map-marker"></i>Terrapuerto Libertadores de América Counter 35-36-37,
                                    Ayacucho</td>
                                <td><i class="fa fa-phone"></i>989 805 062</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><i class="fa fa-map-marker"></i>Terrapuerto Libertadores de América Counter 35-36-37,
                                    Ayacucho</td>
                                <td><i class="fa fa-phone"></i>989 805 062</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><i class="fa fa-map-marker"></i>Terrapuerto Libertadores de América Counter 35-36-37,
                                    Ayacucho</td>
                                <td><i class="fa fa-phone"></i>989 805 062</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15598.643869171752!2d-76.97792198494803!3d-12.203456663622473!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1486164054892"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </p>
                <br>
            </div>
            <!--End Blog Post-->
        </div>
        <!-- End Left Sidebar -->
        <!-- Right Sidebar -->
        <div class="col-md-3 magazine-page">
            <!-- Search Bar -->
            <div class="search-tours-col-bg-default  sky-form clearfix" style="padding-top: 0px;">
                <div style="background: #31353e;padding-top: 7px; padding-left:15px;  padding-bottom :7px; color:#fff; ">
                    <h5><span style=" color:#ffffff; font-weight: bold;">COMPRA Y RESERVA PASAJES</span></h5>
                </div>
                <div class="container" style="padding-top: 40px; ">
                    <form action="#" class="">
                        <div class="col">
                            <label class="select">
                                <select id="origenList">
                                    <option value="0" selected>SELECCIONAR ORIGEN</option>
                                    <option value="1">Cajabamba</option>
                                    <option value="2">Cajamarca</option>
                                    <option value="3">Trujillo</option>
                                    <option value="4">Chepen</option>
                                </select>
                                <i></i>
                            </label>
                            <label class="select">
                                <select id="destinoList">
                                    <option value="0" selected>SELECCIONAR DESTINO</option>
                                    <option value="1">Lima</option>
                                    <option value="2">Chiclayo</option>
                                    <option value="3">Cajamarca</option>
                                    <option value="4">Cajabamba</option>
                                </select>
                                <i></i>
                            </label>
                            <label class="input">
                                <span class="icon-append fa fa-users"></span>
                                <input type="text" placeholder="Numero de personas">
                            </label>
                            <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit" onclick="javascript:location.href='shop-ui-filter-list.html'">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Search Bar -->
            <br>
            <!-- Blog Posts -->
            <div class="headline">
                <h2>Whatsapp</h2>
            </div>
            <div class="row">
                <div class="magazine-posts col-md-12 col-sm-6 margin-bottom-30">
                    <h2>966 316 940</h2>

                </div>

            </div>
            <!-- End Blog Posts -->
            <!-- Blog Posts -->
            <div class="headline">
                <h2>Ofertas</h2>
            </div>
            <div class="row">
                <div class="magazine-posts col-md-12 col-sm-6 margin-bottom-30">
                    <span><i class="color-green">Trujillo</i> Desde S/120 </span>
                    <div class="magazine-posts-img">
                        <a  [routerLink]="['/app/enconstruccion']" ><img class="img-responsive" src="assets-trans/img/banner1.jpg" alt=""></a>
                        <span class="magazine-badge magazine-badge-red">Servicio Turistico </span>
                    </div>
                </div>
                <div class="magazine-posts col-md-12 col-sm-6">
                    <span><i class="color-green">Arequipa</i> / Desde S/110</span>
                    <div class="magazine-posts-img">
                        <a  [routerLink]="['/app/enconstruccion']" ><img class="img-responsive" src="assets-trans/img/banner2.jpg" alt=""></a>
                        <span class="magazine-badge magazine-badge-green">Servicio Vip</span>
                    </div>
                </div>
            </div>
            <!-- End Blog Posts -->
            <!-- Blog Tags -->
            <div class="headline headline-md">
                <h2>Tags</h2>
            </div>
            <ul class="list-unstyled blog-tags margin-bottom-30">
                <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Turismo</a></li>
                <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Viajes</a></li>
                <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Encomiendas</a></li>
                <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Bus</a></li>
                <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Agencias</a></li>
                <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Trujillo</a></li>
            </ul>
            <!-- End Blog Tags -->
        </div>
        <!-- End Profile Content -->
    </div>
    <!--/end row-->
</div>