<div class="our-service-section text-center g-heading-v8 equal-height-columns" id="Services">
  <div class="container-fluid">
    <div class="row">
      <!-- Service Info -->
      <div class="col-md-3 our-service-info equal-height-column">
        <h2 class="h2">
          <em class="block-name">Nuevos</em>
          <br>
          <strong>Nuestros</strong> Servicios</h2>
        <p>Nuestro propósito es atender las necesidades de transporte de personas, correo y bienes de nuestra sociedad en nuestras
          rutas de franquicia nacional. Nuestro compromiso es proporcionar todas nuestras actividades, seguridad, puntualidad
          y buen servicio. Reconocemos que la preferencia pública es nuestro patrimonio.</p>
      </div>
      <!-- End Service Info -->

      <div class="col-md-9 our-services-list-wrapper">
        <div class="our-services-list">
          <!-- Item 1 -->
          <div class="our-services-list-item equal-height-column">
            <div class="img-wrapper img-wrapper--shadow">
              <img src="assets-trans/img-temp/services/1.jpg" alt="ALT" class="img-reposnsive">
            </div>
            <h3>Kunturwasi ORO</h3>

            <p>-Asientos 160º
              <br> -Audio y video
              <br> -Baño Químico
              <br> -Aire acondicionado
              <br> -Servicio a bordo Desayuno y/o almuerzo y/o cena y/o Snack.
              <br> -Wifi a bordo
            </p>
            <a href="./app/pasajero/servicio" class="btn-u btn-u-lg btn-u-red btn-u-upper">Leer más</a>
          </div>
          <!-- End Item 1 -->

          <!-- Item 2 -->
          <div class="our-services-list-item equal-height-column">
            <div class="img-wrapper img-wrapper--shadow">
              <img src="assets-trans/img-temp/services/2.jpg" alt="ALT" class="img-reposnsive">
            </div>
            <h3>Kunturwasi Plata</h3>
            <p>
              -Asientos 160º primer nivel
              <br> -Asientos 140º 2do nivel
              <br> -Audio y video
              <br> -Baño químico
              <br> -Aire aconodicionado
              <br> -Servicio a bordo
              <br> -Cena y/o Snack.
            </p>
            <a href="./app/pasajero/servicio" class="btn-u btn-u-lg btn-u-red btn-u-upper">Leer más</a>
          </div>
          <!-- End Item 2 -->

          <!-- Item 3 -->
          <div class="our-services-list-item equal-height-column">
            <div class="img-wrapper img-wrapper--shadow">
              <img src="assets-trans/img-temp/services/3.jpg" alt="ALT" class="img-reposnsive">
            </div>
            <h3>Kunturwasi Clásico</h3>
            <p>
              -Asientos 140º
              <br> -Audio y video
              <br> -Baño químico
              <br> -Aire acondicionado.
            </p>
            <a href="./app/pasajero/servicio" class="btn-u btn-u-lg btn-u-red btn-u-upper">Leer más</a>
          </div>
          <!-- End Item 3 -->


        </div>
      </div>
    </div>
  </div>
</div>