<div id="layerslider" style="width: 100%; height: 500px;">

  <div class="ls-slide" data-ls="slidedelay:4500; transition2d:20;">
    <img src="assets-trans/img/bg/img9.jpg" class="ls-bg" alt="Slide background" />

    <img class="ls-l" src="assets-trans/img/mockup/iphone1.png" style="top: 85%; left: 40%;" data-ls="offsetxin:left; durationin:1500; delayin:900; fadein:false; offsetxout:left; durationout:1000; fadeout:false;"
    />

    <img src="assets-trans/img/mockup/iphone.png" alt="Slider image" class="ls-s-1" style=" top:62px; left: 15%;" data-ls="offsetxin:left; durationin:1500; delayin:1500; fadein:false; offsetxout:left; durationout:1000; fadeout:false;">

    <span class="ls-s-1" style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:200px; left: 590px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 3500; delayin : 1000;  font-weight:100; background-color: #278727;">
      Descubre el verdadero
    </span>
    <br>
    <span class="ls-s-1" style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:250px; left: 590px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 3500; delayin : 1000;  font-weight:100; background-color: #278727;">
      significado de viajar.
    </span>
    <a class="btn-u btn-u-orange ls-s-1" href="./app/ecommerce/busqueda" style=" padding: 9px 20px; font-size:25px; top:340px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 2500; delayin : 1000; ">
      RESERVAS
    </a>
  </div>

  <!-- Third Slide -->

  <div class="ls-slide" data-ls="slidedelay:4500; transition2d:20;">
    <img src="assets-trans/img/bg/img8.jpg" class="ls-bg" alt="Slide background" />



    <img src="assets-trans/img/mockup/man.png" alt="Slider image" class="ls-s-1" style=" top:32px; left: 15%;" data-ls="offsetxin:left; durationin:1500; delayin:1500; fadein:false; offsetxout:left; durationout:1000; fadeout:false;">

    <span class="ls-s-1" style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:300px; left: 590px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 3500; delayin : 1000;  font-weight:100; ; background-color: #278727;">
      Su envio directo
    </span>
    <span class="ls-s-1" style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:350px; left: 590px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 3500; delayin : 1000;  font-weight:100; ; background-color: #278727;">
      y asegurado
    </span>
    <a class="btn-u btn-u-orange ls-s-1" href="./app/carga/inicio" style=" padding: 9px 20px; font-size:25px; top:410px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 2500; delayin : 1000; ">
      Encomiendas
    </a>
  </div>
</div>