<div class="container-fluid">
  <br>
  <div class="our-tours-list-wrapper">
    <div class="our-tours-list text-left">
      <!-- Item 1 -->
      <div class="our-tours-list-item">
        <div class="img-wrapper img-wrapper-">
          <img src="assets-trans/img-temp/offers/1.jpg" alt="ALT" class="img-reposnsive">
        </div>
        <h3>Cajamarca</h3>

        <p>Novedades y promociones</p>

        <a (click)="onSearchArrival('cajamarca')" class="">VER MÁS</a>
      </div>
      <!-- End Item 1 -->

      <!-- Item 2 -->
      <div class="our-tours-list-item">
        <div class="img-wrapper img-wrapper--shadow">
          <img src="assets-trans/img-temp/offers/7.jpg" alt="ALT" class="img-reposnsive">
        </div>
        <h3>Lima</h3>

        <p>Novedades y promociones</p>

        <a (click)="onSearchArrival('lima')" class="">VER MÁS</a>
      </div>
      <!-- End Item 2 -->

      <!-- Item 3 -->
      <div class="our-tours-list-item">
        <div class="img-wrapper img-wrapper--shadow">
          <img src="assets-trans/img-temp/offers/2.jpg" alt="ALT" class="img-reposnsive">
        </div>
        <h3>Trujillo</h3>

        <p>Novedades y promociones</p>

        <a (click)="onSearchArrival('trujillo')" class="">VER MÁS</a>
      </div>
      <!-- End Item 3 -->

      <!-- Item 4 -->
      <div class="our-tours-list-item">
        <div class="img-wrapper img-wrapper--shadow">
          <img src="assets-trans/img-temp/offers/4.jpg" alt="ALT" class="img-reposnsive">
        </div>
        <h3>Pacasmayo</h3>

        <p>Novedades y promociones</p>

        <a (click)="onSearchArrival('pacasmayo')" class="">VER MÁS</a>
      </div>
      <!-- End Item 4 -->

      <!-- Item 5 -->
      <div class="our-tours-list-item">
        <div class="img-wrapper img-wrapper--shadow">
          <img src="assets-trans/img-temp/offers/3.jpg" alt="ALT" class="img-reposnsive">
        </div>
        <h3>Chiclayo</h3>

        <p>Novedades y promociones</p>

        <a (click)="onSearchArrival('chiclayo')" class="">VER MÁS</a>
      </div>
      <!-- End Item 5 -->

      <!-- Item 6 -->
      <div class="our-tours-list-item">
        <div class="img-wrapper img-wrapper--shadow">
          <img src="assets-trans/img-temp/offers/9.jpg" alt="ALT" class="img-reposnsive">
        </div>
        <h3>Piura</h3>

        <p>Novedades y promociones</p>

        <a (click)="onSearchArrival('piura')" class="">VER MÁS</a>
      </div>
      <!-- End Item 6 -->
      <!-- Item 6 -->
      <div class="our-tours-list-item">
        <div class="img-wrapper img-wrapper--shadow">
          <img src="assets-trans/img-temp/offers/10.jpg" alt="ALT" class="img-reposnsive">
        </div>
        <h3>Tarapoto</h3>

        <p>Novedades y promociones</p>

        <a (click)="onSearchArrival('tarapoto')" class="">VER MÁS</a>
      </div>
      <!-- End Item 6 -->
      <!-- Item 6 -->
      <div class="our-tours-list-item">
        <div class="img-wrapper img-wrapper--shadow">
          <img src="assets-trans/img-temp/offers/8.jpg" alt="ALT" class="img-reposnsive">
        </div>
        <h3>Tumbes</h3>

        <p>Novedades y promociones</p>

        <a (click)="onSearchArrival('tumbes')" class="">VER MÁS</a>
      </div>
      <!-- End Item 6 -->
    </div>
  </div>
</div>