<div class="special-purposes text-center g-heading-v8 g-pb-72" id="Purposes" style="background: #31353e url(assets-trans/img/mapa_back.jpg) no-repeat 50% 0 / cover;">
  <div class="container">
    <div class="row g-mb-70">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="h2">
          <br>
          <strong>Nuestra</strong> empresa</h2>
        <div>Turismo Dias S.A. es una empresa con amplia experiencia en el negocio de transporte de pasajeros, fletes, envío de
          dinero y paquetería, cuyo principal objetivo es atender las necesidades de los clientes ofreciendo un servicio de
          calidad, seguridad, confort y puntualidad.</div>
      </div>
    </div>
    <div class="row">
      <!-- Col 1 -->
      <div class="col-md-6">

      </div>
      <!-- End Col 1 -->

      <!-- Col 2 -->
      <div class="col-md-3 col-sm-6 col-xs-6 col-2xs-12">
        <div class="special-purposes-item g-mb-30">
          <div class="img-wrapper img-wrapper--shadow">
            <img src="assets-trans/img-temp/special/1.jpg" alt="ALT" class="img-responsive">
          </div>
          <div class="special-purposes-item-info">
            <div class="special-purposes-item-info-inner">
              <h3> Nosotros</h3>

            </div>
          </div>
          <a href="./app/pasajero/empresa" class="special-purposes-item__more">Más</a>
        </div>

        <div class="special-purposes-item g-mb-30">
          <div class="img-wrapper img-wrapper--shadow">
            <img src="assets-trans/img-temp/special/2.jpg" alt="ALT" class="img-responsive">
          </div>
          <div class="special-purposes-item-info">
            <div class="special-purposes-item-info-inner">
              <h3>Vision</h3>

            </div>
          </div>
          <a href="./app/pasajero/empresa" class="special-purposes-item__more">Más</a>
        </div>
      </div>
      <!-- End Col 2 -->

      <!-- Col 3 -->
      <div class="col-md-3 col-sm-6 col-xs-6 col-2xs-12">
        <div class="special-purposes-item g-mb-30">
          <div class="img-wrapper img-wrapper--shadow">
            <img src="assets-trans/img-temp/special/3.jpg" alt="ALT" class="img-responsive">
          </div>
          <div class="special-purposes-item-info">
            <div class="special-purposes-item-info-inner">
              <h3>Mision</h3>

            </div>
          </div>
          <a href="./app/pasajero/empresa" class="special-purposes-item__more">Más</a>
        </div>

        <div class="special-purposes-item g-mb-30">
          <div class="img-wrapper img-wrapper--shadow">
            <img src="assets-trans/img-temp/special/4.jpg" alt="ALT" class="img-responsive">
          </div>
          <div class="special-purposes-item-info">
            <div class="special-purposes-item-info-inner">
              <h3>Calidad</h3>

            </div>
          </div>
          <a href="./app/pasajero/empresa" class="special-purposes-item__more">Más</a>
        </div>
      </div>
      <!-- End Col 3 -->
    </div>
  </div>
</div>