        		<!--=== Breadcrumbs v4 ===-->
                <div class="breadcrumbs-v4">
                    <div class="container">
                        <span class="page-name">Galeria</span>
                        <h1>CONOCE EL  PERU</h1>
                        <ul class="breadcrumb-v4-in">
                            <li><a href="/app/inicio" >Incio</a></li>
                            <li class="active">Galeria</li>
                        </ul>
                    </div><!--/end container-->
                </div>
                <!--=== End Breadcrumbs v4 ===-->
        
                <!--=== Cube-Portfdlio ===-->
                <div class="cube-portfolio container margin-bottom-60">
                    <div class="content-xs">
                        <div id="filters-container" class="cbp-l-filters-text content-xs">
                            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> Todo </div> |
                            <div data-filter=".identity" class="cbp-filter-item"> Trujillo </div> |
                            <div data-filter=".web-design" class="cbp-filter-item"> Arequipa </div> |
                            <div data-filter=".graphic" class="cbp-filter-item"> Cajabamba </div> |
                            <div data-filter=".logos" class="cbp-filter-item"> Cajamarca </div>
                        </div><!--/end Filters Container-->
                    </div>
        
                    <div id="grid-container" class="cbp-l-grid-agency">
                        <div class="cbp-item graphic">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets-trans/img/galeria/img3.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <ul class="link-captions">
                                                
                                                <li><a href="assets-trans/img/galeria/img3.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                            </ul>
                                            <div class="cbp-l-grid-agency-title">Trujillo</div>
                                            <div class="cbp-l-grid-agency-desc">Turismo Dias</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design logos">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets-trans/img/galeria/img8.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <ul class="link-captions">
                                                
                                                <li><a href="assets-trans/img/galeria/img8.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                            </ul>
                                            <div class="cbp-l-grid-agency-title">Trujillo</div>
                                            <div class="cbp-l-grid-agency-desc">Turismo Dias</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item graphic logos">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets-trans/img/galeria/img9.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <ul class="link-captions">
                                                
                                                <li><a href="assets-trans/img/galeria/img9.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                            </ul>
                                            <div class="cbp-l-grid-agency-title">Chiclayo</div>
                                            <div class="cbp-l-grid-agency-desc">Turismo Dias</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design graphic">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets-trans/img/galeria/img10.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <ul class="link-captions">
                                                
                                                <li><a href="assets-trans/img/galeria/img10.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                            </ul>
                                            <div class="cbp-l-grid-agency-title">Trujillo</div>
                                            <div class="cbp-l-grid-agency-desc">Turismo Dias</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item identity web-design">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets-trans/img/galeria/img11.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <ul class="link-captions">
                                            
                                                <li><a href="assets-trans/img/galeria/img11.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                            </ul>
                                            <div class="cbp-l-grid-agency-title">Chiclayo</div>
                                            <div class="cbp-l-grid-agency-desc">Turismo Dias</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item identity web-design">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets-trans/img/galeria/img12.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <ul class="link-captions">
                                                
                                                <li><a href="assets-trans/img/galeria/img12.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                            </ul>
                                            <div class="cbp-l-grid-agency-title">Chiclayo</div>
                                            <div class="cbp-l-grid-agency-desc">Turismo Dias</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design identity">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets-trans/img/galeria/img13.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <ul class="link-captions">
                                                
                                                <li><a href="assets-trans/img/galeria/img13.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                            </ul>
                                            <div class="cbp-l-grid-agency-title">Cajabamba</div>
                                            <div class="cbp-l-grid-agency-desc">Turismo Dias</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item identity logo">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets-trans/img/galeria/img14.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <ul class="link-captions">
                                                
                                                <li><a href="assets-trans/img/galeria/img14.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                            </ul>
                                            <div class="cbp-l-grid-agency-title">Cajabamba</div>
                                            <div class="cbp-l-grid-agency-desc">Turismo Dias</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item graphic">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets-trans/img/galeria/img15.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <ul class="link-captions">
                                            
                                                <li><a href="assets-trans/img/galeria/img15.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                            </ul>
                                            <div class="cbp-l-grid-agency-title">Cajamarca</div>
                                            <div class="cbp-l-grid-agency-desc">Turismo Dias</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/end Grid Container-->
                </div>
                <!--=== End Cube-Portfdlio ===-->