        		<!--=== Breadcrumbs v4 ===-->
                <div class="breadcrumbs-v4">
                    <div class="container">
                        <span class="page-name">Servicios</span>
                        <h1>KUNTUR WASI VIP</h1>
                        <ul class="breadcrumb-v4-in">
                            <li><a href="/app/inicio" >Inicio</a></li>
                            <li><a href="">Servicios</a></li>
                            <li class="active">Kuntur Wasi VIP</li>
                        </ul>
                    </div><!--/end container-->
                </div>
                <!--=== End Breadcrumbs v4 ===-->
            <!--=== Content Part ===-->
            <div class="container content">
              <div class="row blog-page blog-item">
                <!-- Left Sidebar -->
                <div class="col-md-9 md-margin-bottom-60">
                  <!--Blog Post-->
                  <div class="blog margin-bottom-40">
                  
                    <!-- About Sldier -->
                    <div class="shadow-wrapper margin-bottom-50">
                      <div class="carousel slide carousel-v1 box-shadow shadow-effect-2" id="myCarousel">
                        <ol class="carousel-indicators">
                          <li class="rounded-x active" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li class="rounded-x" data-target="#myCarousel" data-slide-to="1"></li>
                          <li class="rounded-x" data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="item active">
                            <img class="img-responsive" src="assets-trans/img/sliders/1.jpg" alt="">
                          </div>
                          <div class="item">
                            <img class="img-responsive" src="assets-trans/img/sliders/3.jpg" alt="">
                          </div>
                          <div class="item">
                            <img class="img-responsive" src="assets-trans/img/sliders/4.jpg" alt="">
                          </div>
                          <div class="item">
                            <img class="img-responsive" src="assets-trans/img/sliders/5.jpg" alt="">
                          </div>
                        </div>
                        <div class="carousel-arrow">
                          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                          <i class="fa fa-angle-left"></i>
                          </a>
                          <a data-slide="next" href="#myCarousel" class="right carousel-control">
                          <i class="fa fa-angle-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- End About Sldier -->
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="tab-pane fade active in" id="others">
                          <section class="line-icon-page icon-page-fa margin-bottom-60">
                            <span class="item-box">
                            <span class="item">
                            <i class="fa fa-television"></i>
                            &nbsp;TV Video
                            </span>
                            </span>
                            <span class="item-box">
                            <span class="item">
                            <i class="fa fa-road"></i>
                            &nbsp;Velocidad Controlada
                            </span>
                            </span>
                            <span class="item-box">
                            <span class="item">
                            <i class="fa fa-map-marker"></i>
                            &nbsp;GPS
                            </span>
                            </span>
                            <span class="item-box">
                            <span class="item">
                            <i class="fa fa-cutlery"></i>
                            &nbsp;Servicio a bordo
                            </span>
                            </span>
                            <span class="item-box">
                            <span class="item">
                            <i class="fa fa-cloud"></i>
                            &nbsp;Aire acondicionado
                            </span>
                            </span>
                            <span class="item-box">
                            <span class="item">
                            <i class="fa fa-sun-o"></i>
                            &nbsp;Calefaccion
                            </span>
                            </span>
                            <span class="item-box">
                            <span class="item">
                            <i class="fa fa-flask"></i>
                            &nbsp;Baño Quimico
                            </span>
                            </span>
                            <span class="item-box">
                            <span class="item">
                            <i class="fa fa-headphones"></i>
                            &nbsp;Audio
                            </span>
                            </span>
                          </section>
                        </div>
                      </div>
                      <br>
                    </div>
                    <p>
                      En TURISMO DIAS, todos nuestros servicios están orientados a brindar absoluta comodidad y calidad de atención a nuestros pasajeros. Por tal razón, nos esforzamos por brindar un servicio diferenciado, respaldado por años de experiencia en el sector que nos permite satisfacer las demandas de un mercado cada vez más competitivo y exigente. Como siempre, TURISMO DIAS a la vanguardia en cuanto a seguridad y calidad de atención a bordo.
                    </p>
                    <br>
                    <ul class="list-unstyled lists-v2 margin-bottom-30">
                      <li><i class="fa fa-check"></i> Asientos sofa cama 160°.</li>
                      <li><i class="fa fa-check"></i> Audio individual.</li>
                      <li><i class="fa fa-check"></i> Baño con tratamiento químico</li>
                      <li><i class="fa fa-check"></i> Viaje directo</li>
                      <li><i class="fa fa-check"></i> Desayuno y/o almuerzo y/o cena</li>
                      <li><i class="fa fa-check"></i> Servicio Abordo (Atención de terramozas)</li>
                      <li><i class="fa fa-check"></i> Video abordo con películas de estreno</li>
                      <li><i class="fa fa-check"></i> Música ambiental</li>
                      <li><i class="fa fa-check"></i> Aire acondicionado y calefacción</li>
                      <li><i class="fa fa-check"></i> Luz individual de lectura</li>
                    </ul>
                  </div>
                  <!--End Blog Post-->
                  <hr>
                  <div class="row news-v2 margin-bottom-50">
                    <div class="col-sm-6 sm-margin-bottom-30">
                      <div class="news-v2-badge">
                        <img class="img-responsive" src="assets-trans/img/serv1.jpg" alt="">
                      </div>
                      <div class="news-v2-desc">
                        <h3><a  [routerLink]="['/app/enconstruccion']" >Servicio Económico</a></h3>
                        <small>Asientos ejecutivo 140°</small>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="news-v2-badge">
                        <img class="img-responsive" src="assets-trans/img/serv2.jpg" alt="">
                      </div>
                      <div class="news-v2-desc">
                        <h3><a  [routerLink]="['/app/enconstruccion']" >Servicio Turísitico</a></h3>
                        <small>Asientos sofa cama 160°</small>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Left Sidebar -->
                <!-- Right Sidebar -->
                <div class="col-md-3 magazine-page">
                  <!-- Search Bar -->
                  <div class="search-tours-col-bg-default  sky-form clearfix"  style="padding-top: 0px;">
                    <div style="background: #31353e;padding-top: 7px; padding-left:15px;  padding-bottom :7px; color:#fff; "   >
                      <h5 ><span style=" color:#ffffff; font-weight: bold;">COMPRA Y RESERVA PASAJES</span></h5>
                    </div>
                    <div class="container" style="padding-top: 40px; ">
                      <form action="#" class="">
                        <div class="col">
                          <label class="select">
                            <select id="origenList">
                              <option value="0" selected>SELECCIONAR ORIGEN</option>
                              <option value="1">Cajabamba</option>
                              <option value="2">Cajamarca</option>
                              <option value="3">Trujillo</option>
                              <option value="4">Chepen</option>
                            </select>
                            <i></i>
                          </label>
                          <label class="select">
                            <select id="destinoList">
                              <option value="0" selected>SELECCIONAR  DESTINO</option>
                              <option value="1">Lima</option>
                              <option value="2">Chiclayo</option>
                              <option value="3">Cajamarca</option>
                              <option value="4">Cajabamba</option>
                            </select>
                            <i></i>
                          </label>
                          <label class="input">
                          <span class="icon-append fa fa-users"></span>
                          <input  type="text" placeholder="Numero de personas">
                          </label>
                         <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit" onclick="javascript:location.href='shop-ui-filter-list.html'">Buscar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- End Search Bar -->
                  <br>
                  <div class="headline">
                    <h2>Contacto</h2>
                  </div>
                  <ul class="list-unstyled who margin-bottom-30">
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-home"></i>Av. Bauzate y Meza Nº 116-126 - La Victoria</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-envelope"></i>info@turismodias.net</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-phone"></i>01-3304682  |  01-4251218</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-globe"></i>http://www.turismodias.net</a></li>
                  </ul>
                  <!-- Blog Posts -->
                  <div class="headline">
                    <h2>Ofertas</h2>
                  </div>
                  <div class="row">
                    <div class="magazine-posts col-md-12 col-sm-6 margin-bottom-30">
                      <span><i class="color-green">Trujillo</i> Desde S/120 </span>
                      <div class="magazine-posts-img">
                        <a  [routerLink]="['/app/enconstruccion']" ><img class="img-responsive" src="assets-trans/img/banner1.jpg" alt=""></a>
                        <span class="magazine-badge magazine-badge-red">Servicio Turistico </span>
                      </div>
                    </div>
                    <div class="magazine-posts col-md-12 col-sm-6">
                      <span><i class="color-green">Arequipa</i> / Desde S/110</span>
                      <div class="magazine-posts-img">
                        <a  [routerLink]="['/app/enconstruccion']" ><img class="img-responsive" src="assets-trans/img/banner2.jpg" alt=""></a>
                        <span class="magazine-badge magazine-badge-green">Servicio Vip</span>
                      </div>
                    </div>
                  </div>
                  <!-- End Blog Posts -->
                  <!-- Blog Tags -->
                  <div class="headline headline-md">
                    <h2>Tags</h2>
                  </div>
                  <ul class="list-unstyled blog-tags margin-bottom-30">
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Turismo</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Viajes</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Encomiendas</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Bus</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Agencias</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Trujillo</a></li>
                  </ul>
                  <!-- End Blog Tags -->
                </div>
                <!-- End Right Sidebar -->
              </div>
              <!--/row-->
            </div>
            <!--/container-->   