<!--=== Footer Version 1 ===-->
<div class="footer-v1">
  <div class="footer" style=" background-color:#098B53">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-3 md-margin-bottom-40">
          <a href="/app/inicio"  routerLinkActive="">
            <img id="logo-footer" class="footer-logo" src="" alt="">
          </a>
          <p>Turismo Dias SA es una empresa con amplia experiencia en el negocio de transporte de pasajeros, servicios de transporte,
            el envío de dinero y paquetes, cuyo principal objetivo es satisfacer las necesidades de los clientes, proporcionando
            un servicio de calidad, seguridad, comodidad y puntualidad.</p>
        </div>
        <!--/col-md-3-->

        <!-- End About -->

        <!-- Latest -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="posts">
            <div class="headline">
              <h2>SERVICIOS</h2>
            </div>
            <ul class="list-unstyled latest-list">
              <li>
                <a [routerLink]="['/app/ecommerce/buscar']" routerLinkActive="active">PASAJES</a>
                <small>Las mejores ofertas</small>
              </li>
              <li>
                <a [routerLink]="['/app/carga/inicio']" routerLinkActive="active">ENCOMIENDAS</a>
                <small>Servicio Garantizado</small>
              </li>

            </ul>
          </div>
        </div>
        <!--/col-md-3-->
        <!-- End Latest -->

        <!-- Link List -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline">
            <h2>INFORMACIÓN</h2>
          </div>
          <ul class="list-unstyled link-list">
            <li>
              <a [routerLink]="['/app/pasajero/empresa']" routerLinkActive="active">Quienes Somos</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a [routerLink]="['/app/pasajeros/servicio']" routerLinkActive="active">Servicios</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="./app/pasajero/destino">Destinos</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="./app/empresa/bolsa-trabajo">Bolsa de Trabajo</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="./app/empresa/politicas-calidad">Politicas de Calidad</a>
              <i class="fa fa-angle-right"></i>
            </li>
          </ul>
        </div>
        <!--/col-md-3-->
        <!-- End Link List -->

        <!-- Address -->
        <div class="col-md-3 map-img md-margin-bottom-40">
          <div class="headline">
            <h2>CONTÁCTENOS</h2>
          </div>
          <address class="md-margin-bottom-40">
            Av. Bauzate y Meza Nro. 116-126 - La Victoria
            <br /> Lima, Peru
            <br /> T: 01-3304682
            <br /> T: 01-4251218
            <br /> Email: reservas@turismodias.net
            <br />
            <br />
            <strong>Call center:</strong>
            966316940
            <br />
            <strong>E-mail:</strong>
            ventas@turismodias.com
          </address>
        </div>
        <!--/col-md-3-->

        <!-- End Address -->
      </div>
    </div>
  </div>
  <!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            Copyright 2015 (c) Turismo Dias. Todos los derechos reservados

          </p>
        </div>

        <!-- Social Links -->
        <div class="col-md-6">
          <ul class="footer-socials list-inline">
            <li>
              <a  [routerLink]="['/app/enconstruccion']"  class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a  [routerLink]="['/app/enconstruccion']"  class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                <i class="fa fa-skype"></i>
              </a>
            </li>
            <li>
              <a  [routerLink]="['/app/enconstruccion']"  class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a  [routerLink]="['/app/enconstruccion']"  class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a  [routerLink]="['/app/enconstruccion']"  class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
            <li>
              <a  [routerLink]="['/app/enconstruccion']"  class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a  [routerLink]="['/app/enconstruccion']"  class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                <i class="fa fa-dribbble"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social Links -->
      </div>
    </div>
  </div>
  <!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->