<div class="gallery text-center g-heading-v8 g-pt-80" id="Gallery">
  <!-- Gallery Info -->
  <div class="container">
    <div class="row g-mb-70">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="h2">
          <br>
          <strong>Nuestra</strong> Galería</h2>
        <p>El Perú es un país maravilloso, lleno de historia, cultura, y misterios. En nuestra galería podrás conocer y descubrir
          todas las rutas y desDnos de un país lleno de alegría y encanto. Forma parte de nuestra comunidad “CONOCE NUESTRO
          PERÚ”.
          
        </p>
        <h4>
          “Síguenos en Instagram:
          <a href="https://www.instagram.com/turismodias/">TurismoDias</a>”

        </h4>

      </div>
    </div>
  </div>
  <!-- End Gallery Info -->

  <!-- Gallery: Photos -->
  <div id="js-grid-full-width" class="cbp">
    <!-- Item 1 -->
    <div class="cbp-item">
      <a href="assets/img-temp/gallery/1.jpg" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap img-wrapper--shadow">
          <img src="assets/img-temp/gallery/1.jpg" alt="ALT">
        </div>
      </a>
    </div>
    <!-- End Item 1 -->

    <!-- Item 2 -->
    <div class="cbp-item">
      <a href="assets/img-temp/gallery/2.jpg" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap img-wrapper--shadow">
          <img src="assets/img-temp/gallery/2.jpg" alt="ALT">
        </div>
      </a>
    </div>
    <!-- End Item 2 -->

    <!-- Item 3 -->
    <div class="cbp-item">
      <a href="assets/img-temp/gallery/3.jpg" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap img-wrapper--shadow">
          <img src="assets/img-temp/gallery/3.jpg" alt="ALT">
        </div>
      </a>
    </div>
    <!-- End Item 3 -->

    <!-- Item 4 -->
    <div class="cbp-item">
      <a href="assets/img-temp/gallery/4.jpg" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap img-wrapper--shadow">
          <img src="assets/img-temp/gallery/4.jpg" alt="ALT">
        </div>
      </a>
    </div>
    <!-- End Item 4 -->

    <!-- Item 5 -->
    <div class="cbp-item">
      <a href="assets/img-temp/gallery/5.jpg" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap img-wrapper--shadow">
          <img src="assets/img-temp/gallery/5.jpg" alt="ALT">
        </div>
      </a>
    </div>
    <!-- End Item 5 -->

    <!-- Item 6 -->
    <div class="cbp-item">
      <a href="assets/img-temp/gallery/6.jpg" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap img-wrapper--shadow">
          <img src="assets/img-temp/gallery/6.jpg" alt="ALT">
        </div>
      </a>
    </div>
    <!-- End Item 6 -->

    <!-- Item 7 -->
    <div class="cbp-item">
      <a href="assets/img-temp/gallery/7.jpg" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap img-wrapper--shadow">
          <img src="assets/img-temp/gallery/7.jpg" alt="ALT">
        </div>
      </a>
    </div>
    <!-- End Item 7 -->
  </div>
  <!-- End Gallery: Photos -->
  <div id="js-loadMore-full-width" class="cbp-l-loadMore-text"></div>
</div>