<div class="popular-tours text-center g-heading-v8 g-pb-70">
    <div class="container">
        <h2 class="h2"><br><strong>Página </strong>en construcción</h2>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="g-mb-30">Te puede interesar alguno de nuestros destinos</p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
                <div class="popular-tours-item">
                    <div class="img-wrapper img-wrapper--shadow"><img alt="ALT" class="img-responsive" src="assets-trans/img-temp/interesting/1.jpg"></div>
                    <div class="popular-tours-item-info">
                        <div class="popular-tours-item-info-price">Desde <strong>S/20.00</strong></div>
                        <div class="popular-tours-item-info-inner">
                            <h3><em>Norte</em> Chiclayo</h3>
                            <p>Novedades y promociones</p><br><a class="" routerlinkactive="active"
                                ng-reflect-router-link="/app/pasajero/destino,Chiclayo" ng-reflect-router-link-active="active"
                                href="/app/pasajero/destino/Chiclayo">VER MÁS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
                <div class="popular-tours-item">
                    <div class="img-wrapper img-wrapper--shadow"><img alt="ALT" class="img-responsive" src="assets-trans/img-temp/interesting/2.jpg"></div>
                    <div class="popular-tours-item-info">
                        <div class="popular-tours-item-info-price">Desde <strong>S/25.00</strong></div>
                        <div class="popular-tours-item-info-inner">
                            <h3><em>Norte</em> Cajamarca</h3>
                            <p>Novedades y promociones</p><br><a class="" routerlinkactive="active"
                                ng-reflect-router-link="/app/pasajero/destino,Cajamarc" ng-reflect-router-link-active="active"
                                href="/app/pasajero/destino/Cajamarca">VER MÁS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
                <div class="popular-tours-item">
                    <div class="img-wrapper img-wrapper--shadow"><img alt="ALT" class="img-responsive" src="assets-trans/img-temp/interesting/3.jpg"></div>
                    <div class="popular-tours-item-info">
                        <div class="popular-tours-item-info-price">Desde <strong>S/20.00</strong></div>
                        <div class="popular-tours-item-info-inner">
                            <h3><em>Norte</em> Trujillo</h3>
                            <p>Novedades y promociones</p><br><a class="" routerlinkactive="active"
                                ng-reflect-router-link="/app/pasajero/destino,Trujillo" ng-reflect-router-link-active="active"
                                href="/app/pasajero/destino/Trujillo">VER MÁS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
                <div class="popular-tours-item">
                    <div class="img-wrapper img-wrapper--shadow"><img alt="ALT" class="img-responsive" src="assets-trans/img-temp/interesting/5.jpg"></div>
                    <div class="popular-tours-item-info">
                        <div class="popular-tours-item-info-price">Desde <strong>S/60.00</strong></div>
                        <div class="popular-tours-item-info-inner">
                            <h3><em>Norte</em> Piura</h3>
                            <p>Novedades y promociones</p><br><a class="" routerlinkactive="active"
                                ng-reflect-router-link="/app/pasajero/destino" ng-reflect-router-link-active="active"
                                href="/app/pasajero/destino">VER MÁS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
                <div class="popular-tours-item">
                    <div class="img-wrapper img-wrapper--shadow"><img alt="ALT" class="img-responsive" src="assets-trans/img-temp/interesting/6.jpg"></div>
                    <div class="popular-tours-item-info">
                        <div class="popular-tours-item-info-price">Desde <strong>S/40.00</strong></div>
                        <div class="popular-tours-item-info-inner">
                            <h3><em>Norte</em> Tarapoto</h3>
                            <p>Novedades y promociones</p><br><a class="" routerlinkactive="active"
                                ng-reflect-router-link="/app/pasajero/destino,Tarapoto" ng-reflect-router-link-active="active"
                                href="/app/pasajero/destino/Tarapoto">VER MÁS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>