        		<!--=== Breadcrumbs v4 ===-->
            <div class="breadcrumbs-v4">
              <div class="container">
                <span class="page-name">Testimonios</span>
                <h1>Calidad Garantizada</h1>
                <ul class="breadcrumb-v4-in">
                  <li><a href="/app/inicio" >Inicio</a></li>
                  
                  <li class="active">Testimonios</li>
                </ul>
              </div><!--/end container-->
            </div>
            <!--=== End Breadcrumbs v4 ===-->
            <!--=== Content Part ===-->
            <div class="container content">
              <div class="row blog-page blog-item">
                <!-- Left Sidebar -->
                <div class="col-md-9 md-margin-bottom-40">
                  <!--Blog Post-->
                  <div class="row blog blog-medium margin-bottom-40">
                    <div class="col-md-5">
                      <img class="img-responsive" src="assets-trans/img/testimonios/1.jpg" alt="">
                    </div>
                    <div class="col-md-7">
                      <h2><a  [routerLink]="['/app/enconstruccion']" >Rebeca Benites</a></h2>
                      <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-calendar"></i> Noviembre, 2013</li>
                        
                      </ul>
                      <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                      
                    </div>
                  </div>
                  <!--End Blog Post-->
        
                  <hr class="margin-bottom-40">
        
                  <!--Blog Post-->
                  <div class="row blog blog-medium margin-bottom-40">
                    <div class="col-md-5">
                      <img class="img-responsive" src="assets-trans/img/testimonios/2.jpg" alt="">
                    </div>
                    <div class="col-md-7">
                      <h2><a  [routerLink]="['/app/enconstruccion']" >Minera Yanacocha</a></h2>
                      <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-calendar"></i> Noviembre, 2013</li>
                        
                      </ul>
                      <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                      
                    </div>
                  </div>
                  <!--End Blog Post-->
        
                  <hr class="margin-bottom-40">
        
                  <!--Blog Post-->
                  <div class="row blog blog-medium margin-bottom-40">
                    <div class="col-md-5">
                      <img class="img-responsive" src="assets-trans/img/testimonios/3.jpg" alt="">
                    </div>
                    <div class="col-md-7">
                      <h2><a  [routerLink]="['/app/enconstruccion']" >Martina Quispe</a></h2>
                      <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-calendar"></i> Noviembre, 2013</li>
                        
                      </ul>
                      <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                      
                    </div>
                  </div>
                  <!--End Blog Post-->
        
                  
                  <!--Blog Post-->
                  
                  <!--End Blog Post-->
        
                  <!--Pagination-->
                  <div class="text-center">
                    <ul class="pagination">
                      <li><a  [routerLink]="['/app/enconstruccion']" >«</a></li>
                      <li><a  [routerLink]="['/app/enconstruccion']" >1</a></li>
                      <li><a  [routerLink]="['/app/enconstruccion']" >2</a></li>
                      <li class="active"><a  [routerLink]="['/app/enconstruccion']" >3</a></li>
                      <li><a  [routerLink]="['/app/enconstruccion']" >4</a></li>
                      <li><a  [routerLink]="['/app/enconstruccion']" >5</a></li>
                      <li><a  [routerLink]="['/app/enconstruccion']" >6</a></li>
                      <li><a  [routerLink]="['/app/enconstruccion']" >7</a></li>
                      <li><a  [routerLink]="['/app/enconstruccion']" >8</a></li>
                      <li><a  [routerLink]="['/app/enconstruccion']" >»</a></li>
                    </ul>
                  </div>
                  <!--End Pagination-->
                </div>
                <!-- End Left Sidebar -->
                <!-- Right Sidebar -->
                <div class="col-md-3 magazine-page">
                  <!-- Search Bar -->
                  <div class="search-tours-col-bg-default  sky-form clearfix"  style="padding-top: 0px;">
                    <div style="background: #31353e;padding-top: 7px; padding-left:15px;  padding-bottom :7px; color:#fff; "   >
                      <h5 ><span style=" color:#ffffff; font-weight: bold;">COMPRA Y RESERVA PASAJES</span></h5>
                    </div>
                    <div class="container" style="padding-top: 40px; ">
                      <form action="#" class="">
                        <div class="col">
                          <label class="select">
                            <select id="origenList">
                              <option value="0" selected>SELECCIONAR ORIGEN</option>
                              <option value="1">Cajabamba</option>
                              <option value="2">Cajamarca</option>
                              <option value="3">Trujillo</option>
                              <option value="4">Chepen</option>
                            </select>
                            <i></i>
                          </label>
                          <label class="select">
                            <select id="destinoList">
                              <option value="0" selected>SELECCIONAR  DESTINO</option>
                              <option value="1">Lima</option>
                              <option value="2">Chiclayo</option>
                              <option value="3">Cajamarca</option>
                              <option value="4">Cajabamba</option>
                            </select>
                            <i></i>
                          </label>
                          <label class="input">
                          <span class="icon-append fa fa-users"></span>
                          <input  type="text" placeholder="Numero de personas">
                          </label>
                         <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit" onclick="javascript:location.href='shop-ui-filter-list.html'">Buscar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- End Search Bar -->
                  <br>
                  <div class="headline">
                    <h2>Contacto</h2>
                  </div>
                  <ul class="list-unstyled who margin-bottom-30">
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-home"></i>Av. Bauzate y Meza Nº 116-126 - La Victoria</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-envelope"></i>info@turismodias.net</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-phone"></i>01-3304682  |  01-4251218</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-globe"></i>http://www.turismodias.net</a></li>
                  </ul>
                  <!-- Blog Posts -->
                  <div class="headline">
                    <h2>Ofertas</h2>
                  </div>
                  <div class="row">
                    <div class="magazine-posts col-md-12 col-sm-6 margin-bottom-30">
                      <span><i class="color-green">Trujillo</i> Desde S/120 </span>
                      <div class="magazine-posts-img">
                        <a  [routerLink]="['/app/enconstruccion']" ><img class="img-responsive" src="assets-trans/img/banner1.jpg" alt=""></a>
                        <span class="magazine-badge magazine-badge-red">Servicio Turistico </span>
                      </div>
                    </div>
                    <div class="magazine-posts col-md-12 col-sm-6">
                      <span><i class="color-green">Arequipa</i> / Desde S/110</span>
                      <div class="magazine-posts-img">
                        <a  [routerLink]="['/app/enconstruccion']" ><img class="img-responsive" src="assets-trans/img/banner2.jpg" alt=""></a>
                        <span class="magazine-badge magazine-badge-green">Servicio Vip</span>
                      </div>
                    </div>
                  </div>
                  <!-- End Blog Posts -->
                  <!-- Blog Tags -->
                  <div class="headline headline-md">
                    <h2>Tags</h2>
                  </div>
                  <ul class="list-unstyled blog-tags margin-bottom-30">
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Turismo</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Viajes</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Encomiendas</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Bus</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Agencias</a></li>
                    <li><a  [routerLink]="['/app/enconstruccion']" ><i class="fa fa-tags"></i> Trujillo</a></li>
                  </ul>
                  <!-- End Blog Tags -->
                </div>
                <!-- End Right Sidebar -->
              </div>
              <!--/row-->
            </div>
            <!--/container-->