<div class="get-discount text-center g-heading-v8" id="Encomiendas" style="background: #31353e url(assets-trans/img-temp/discount2.jpg) no-repeat 50% 0 / cover;">
  <div class="container">
    <h2>
      <strong>Dias</strong> cargo</h2>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p class="g-mb-65">Dias Cargo ofrece un servicio integral de transporte de carga en unidades modernas y seguras con capacidad de hasta
          20 toneladas. Realizamos envíos de carga completa, carga consolidada, carga suelta, paquetería y servicio postal.
        </p>
        <form action="#" class="sky-form">
          <div class="row">
            <div class="col-sm-6 g-mb-20">
              <label class="input">
                <input type="text" placeholder="Tipo documento">
              </label>
            </div>
            <div class="col-sm-6 g-mb-20">
              <label class="input">
                <input type="text" placeholder="Nro. documento">
              </label>
            </div>
          </div>
          <a href="./app/carga/inicio" class="btn-u btn-u-lg btn-u-red btn-u-upper" type="submit">Buscar</a>
        </form>
      </div>
    </div>
  </div>
</div>